.btn {
  padding: 0.5rem 1.2rem;
  width: 15rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey-light-4);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 1rem;
    transition: all ease-in-out 0.3s;
  }

  &:hover {
    opacity: 0.8;
    transform: translateY(-0.2rem);

    span {
      padding-left: 1rem;
    }
  }

  &:active {
    transform: translateY(0);
  }
}
