:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  min-height: 50vh;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(to right, #000000, #434343);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-logo {
  width: 8rem;
  height: 8rem;
  margin-left: 4rem;
}

.header__menu-list {
  list-style: none;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  font-size: 2.2rem;
  margin-right: 3.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-item:hover {
  border-bottom: 1px solid white;
  opacity: 0.8;
}

.header__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding: 5rem 2rem;
  text-align: left;
  margin-left: 8rem;
}

.header__title {
  font-size: 4rem;
  padding: 0 1rem;
}

.header__text {
  font-size: 2rem;
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1.2rem;
  width: 15rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey-light-4);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn span {
  margin-left: 1rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn:hover span {
  padding-left: 1rem;
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */